@tailwind utilities;
@tailwind base;
@tailwind components;

/* @font-face {
  font-family: AvantGarde;
  src: url("/fonts/4dd591d8-4168-4263-b05b-7183ddaff1f4.woff2");
} */

@font-face {
  font-family: 'AvantGarde';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/4dd591d8-4168-4263-b05b-7183ddaff1f4.woff2') format('woff');
}


* {
  font-family: AvantGarde;
  user-select: none;
}





/* styles.css */
@keyframes pop-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-animation p {
  opacity: 0;
  animation: pop-up 0.5s ease-out forwards;
}

.custom-animation p:nth-child(1) {
  animation-delay: 0.2s;
}

.custom-animation p:nth-child(2) {
  animation-delay: 0.4s;
}

.custom-animation p:nth-child(3) {
  animation-delay: 0.6s;
}

.custom-color {
  color: rgb(235, 89, 57);
}



.circular-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.circular-bar {
  --progress: 0;
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-top-color: blue;
  border-radius: 50%;
  animation: rotate 2s linear infinite, fill var(--progress) ease-in-out 2s forwards;
}

.percentage {
  margin-top: 10px;
  font-weight: bold;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes fill {
  0% {
    transform: rotate(0deg) scaleY(1);
  }

  100% {
    transform: rotate(0deg) scaleY(0);
  }
}

.mask {
  mask-image: url("/mask.svg");
  background-color: #ec4e39;
  mask-repeat: no-repeat;
  mask-position: 50%;
  mask-size: 40px;
  color: black;
}

.maskgrandeur {
  mask-image: url("/mask.svg");
  background-color: #ec4e39;
  mask-repeat: no-repeat;
  mask-position: 50%;
  mask-size: 40px;
  color: black;
}

.maskexperience {
  mask-image: url("/mask.svg");
  background-color: #ec4e39;
  mask-repeat: no-repeat;
  mask-position: 50%;
  mask-size: 40px;
  color: black;
}

.maskexperience p {
  color: black !important
}

.maskgrandeur p {
  color: black !important
}

.mask p {
  color: black !important;
}

.maskaboutme {
  mask-image: url("/mask.svg");
  background-color: #ec4e39;
  mask-repeat: no-repeat;
  mask-position: 50%;
  mask-size: 40px;
  color: black;
}

.maskaboutme p {
  color: black !important;
}


.maskexperience,
.paragraphexperience {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afa18f;
  cursor: default;
}

.maskaboutme,
.paragraphaboutme {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afa18f;
  cursor: default;
}

.mask,
.paragraph {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afa18f;
  font-size: 64px;
  line-height: 66px;
  cursor: default;
}

.maskgrandeur,
.paragraphgrandeur {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afa18f;
  cursor: default;
}



.mask p,
.paragraph p {
  width: 1000px;
  padding: 40px;
}

.mask span,
.paragraph span {
  color: #ec4e39;
}